.clickCount .countArea {
    position: absolute;
    font-size: 3em;
    right: 210px;
    top: 40px;
    color: #dedede;

}

body {
    position: relative;
    margin: 0;
}

.map img {
    padding: 0px;
    margin: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.countZone {
    position: absolute;
    left: 0;
    top: 0;
    width: 450px;
    height: 200px;
    z-index: 10;
}

.text {
    position: absolute;
    left: 166px;
    top: 20px;
    color: #dedede;
    font-size: 12px;
}

.time {
    position: absolute;
    left: 255px;
    top: 42px;
    color: #dedede;
    font-size: 1em;
    border-left: 2px solid rgba(203, 197, 197, 0.36);
    padding-left: 11px;
    height: 50px;
}

.logo {
    height: 55px;
    width: 237px;
    background: url(../image/logo.png) no-repeat right center;
    -moz-background-size: 70% 70%;
    background-size: 70% 70%;
    position: absolute;
    right: 70px;
    top: 10px;
}

.theme {
    position: absolute;
    width: 300px;
    height: 200px;
    right: 0;
    top: 0
}

.description {
    position: absolute;
    right: 60px;
    top: 65px;
    font-size: 1em;
    color: #dedede;
}

@media (max-width: 1000px) {
  .countZone {
    width: 430px;
  }

  .clickCount .countArea {
    right: 192px;
  }
  .time {
    left: 245px;
  }
}